/* Resetarea și stilizarea generală a calendarului */
.rbc-calendar {
    background: #f9f9f9; /* Alb spălăcit pentru un aspect mai puțin strident */
    color: black;
    border: 1px solid black;
    font-family: 'Arial', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}

/* Headerul calendarului și zilele săptămânii */
.rbc-header {
    background-color: #f9f9f9;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
}

/* Fundalul zilelor din calendar */
.rbc-day-bg {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/* Stil pentru zilele care nu sunt în luna curentă */
.rbc-off-range-bg {
    background-color: #eaeaea; /* Menținând un alb spălăcit */
}

/* Stil pentru ziua curentă */
.rbc-today {
    background-color: #e0e0e0;
    border: 1.3px solid black;
}

/* Evenimentele din calendar */
.rbc-event {
    background-color: #1483da;
    border: 1px solid black;
    color: black;
    font-weight: bold;
}

/* Butoanele de navigare */
.rbc-btn {
    color: black;
    background: none;
    border: none;
    outline: none;
}

.rbc-btn:hover {
    background-color: #eeeeee;
    border-radius: 5px;
}

/* Linia de timp din vizualizarea de zi */
.rbc-time-indicator {
    height: 4px; /* Linie mai groasă */
    background-color: red; /* Culoare mai vizibilă */
}

/* Modificări specifice pentru view-uri, cum ar fi luna, săptămâna, ziua */
.rbc-month-view, .rbc-time-view, .rbc-agenda-view {
    border: 1px solid black;
}

